# 2.2 Data Preprocessing

## Exercises

### Create a raw dataset with more rows and columns.

In [1]:
import os

os.makedirs(os.path.join('.', 'data-for-2.2'), exist_ok=True)
data_file = os.path.join('.', 'data-for-2.2', 'raw_set.csv')
with open(data_file, 'w') as f:
    f.write('NumRooms,Alley,Price,SeaFace\n')
    f.write('2,Pave,127500,Yes\n')
    f.write('2,NA,106000,No\n')
    f.write('4,NA,178100,Yes\n')
    f.write('3,Pave,140000,NA\n')
    f.write('5,NA,190000,No\n')
    f.write('2,NA,110000,No\n')
    f.write('3,NA,140000,NA\n')
    
import pandas as pd
data = pd.read_csv(data_file)

### Q1. Delete the column with the most missing values.

In [2]:
data = data[data.columns[data.isnull().mean() < max(data.isnull().mean())]]
print(data)
## data.isnull() generates a Boolean mask indicating missing values
## data.isnull().mean() < max(data.isnull().mean()) further generates a Boolean mask of columns
## indicating the column with most missing values

   NumRooms   Price SeaFace
0         2  127500     Yes
1         2  106000      No
2         4  178100     Yes
3         3  140000     NaN
4         5  190000      No
5         2  110000      No
6         3  140000     NaN

### Q2. Convert the preprocessed dataset to the tensor format.

In [3]:
data = pd.get_dummies(data, dummy_na=True)

outputs = data['Price']
inputs = data.loc[:, data.columns!='Price']

data

   NumRooms   Price  SeaFace_No  SeaFace_Yes  SeaFace_nan
0         2  127500           0            1            0
1         2  106000           1            0            0
2         4  178100           0            1            0
3         3  140000           0            0            1
4         5  190000           1            0            0
5         2  110000           1            0            0
6         3  140000           0            0            1

In [4]:
import torch

X, y = torch.tensor(inputs.values), torch.tensor(outputs.values)
X, y

(tensor([[2, 0, 1, 0],
         [2, 1, 0, 0],
         [4, 0, 1, 0],
         [3, 0, 0, 1],
         [5, 1, 0, 0],
         [2, 1, 0, 0],
         [3, 0, 0, 1]]),
 tensor([127500, 106000, 178100, 140000, 190000, 110000, 140000]))